# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/Accordion/Accordion.js
/src/AccordionCore/AccordionCore.js
/src/Accordion/AccordionDataTagContainer.js
/src/Button/Button.js
/src/Card/Card.js
/src/utilities/constants.js
/src/utilities/helpers/getComponentClassName.js
/src/Accordion/index.js
/src/AccordionCore/index.js
/src/Button/index.js
/src/Card/index.js
/src/Svg/index.js
/src/Tag/index.js
/src/Svg/Svg.js
/src/Svg/svgInjector.js
/src/Tag/Tag.js
/src/utilities/hooks/useIsSmallScreen.js
/src/utlities.js
